body {
  font-family: $fontFamilyFira;
  background-color: $bgBody;
  padding: 0;
  margin: 0;

  #app {
    font-family: $fontFamilyMontserrat;
    font-size: 14px;
    font-weight: 400;
    color: $color;
    text-align: center;
    
    .main {
      color: $color;
      // padding: 0 30px;
    }
  }
}

// landing sectio nin home page
.landing {
  height: 90vh;
  width: 100%;
  display: block;

  .landing-brand-h1 {
    margin: 1.5em 0 0 0;
    font-size: 4.5em;
    width: 100%;
    text-align: center;
    font-family: $fontFamilyPacifico;
    color: #fff;
    text-shadow: 0 2px 3px rgba($color: #000, $alpha: 0.9);
  }
  
  .landing-brand-h2 {
    color: #fff;
    text-shadow: 0 2px 3px rgba($color: #000, $alpha: 0.9);
    width: 100%;
    font-family: $fontFamilyPacifico;
    font-size: 2em;
  }
  
  .landing-action-bar {
    margin: 0 auto;
    // width: 60%;
    position: relative;
    z-index: 10;
  
    .el-button {
      // background: #f74815;
      // color: #fff;
      border-radius: 5px;
      color: #f74815;
      font-family: $fontFamilyMontserrat;
      font-weight: 600;
      font-size: 1.2em;
      width: 25em;
      border: 1px solid #d92a00;
    }
  }
  
  .landing-video {
    // background: url('assets/img/bg-landing.png') no-repeat center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: relative;
    top: -26em;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
  }
  
  .landing-bottom-arrow {
    position: absolute;
    bottom: .8em;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    z-index: 20;
    left: 0;
    
    .landing-icon {
      font-size: 1.1em;
      color: white;
      background: rgba($color: #333, $alpha: 0.5);
      border-radius: 50%;
      padding: 13px;
    }
  }
}

// features section in home page
.features {
  // margin: 1.2rem 4.5rem 0;
  margin-top: -3.2rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #eaeaea;

  .feature {
    margin-right: 1.2rem;
    margin-left: 1.2rem;

    .feature-icon {
      color: #f74815;
      font-size: 5em;
    }
    
    .feature-title {
      color: #333;
      font-size: 2em;
      font-family: $fontFamilyMontserrat;
    }

    .feature-description {
      font-size: 1em;
      font-weight: 0;
      font-family: $fontFamilyMontserrat;
    }
  }
}

@media screen and (max-width: 767px){
  .landing {
    .landing-video {
      background: url('assets/img/bg-landing.png') no-repeat center;
  
      video {
        display: none;
      }
    }
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}