body {
  font-family: $fontFamilyFira;
  background-color: $bgBody;
  padding: 0;
  margin: 0;

  #app {
    font-family: $fontFamilyFira;
    font-size: 14px;
    font-weight: 400;
    color: $color;
    text-align: center;

    .main {
      color: $color;
      padding: 0 30px;
    }
  }
}